<template>
    <div class="bg">
        <div class="wrapper">

            <form class="form-signin">

                <el-tabs v-model="activeName" >
                    <el-tab-pane label="Sign in" name="first">
                        <div>
                        <br>
                        <el-input size="large" placeholder="Please input email" v-model="login.email"></el-input>
                        <el-input size="large" type="password" placeholder="Please input password" v-model="login.password"></el-input>
                        <div class="wide">
                            <el-button size="large" type="primary" v-on:click="handleSubmit">Login</el-button>
                        </div>
                        <br><br>
                        <a href="/auth/google" class="el-button el-button--primary el-button--large btn-google">
                            <span class="fa fa-google"></span> Sign in with Google
                        </a>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="Sign up" name="second">
                        <el-input size="large" placeholder="Please input name" v-model="user.name"></el-input>
                        <el-input size="large" placeholder="Please input email" v-model="user.email"></el-input>
                        <el-input size="large" type="password" placeholder="Please input password" v-model="user.password"></el-input>
                        <el-input size="large" type="password" placeholder="Repeat password" v-model="user.password"></el-input>
                        <div class="wide">
                            <el-button size="large" type="primary">Register</el-button>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </form>
            </transition>
        </div>
    </div>
</template>

<script>
    import {loginUser} from '../security';

    export default {
        data: function () {
            return {
                activeName: 'first',
                login: {
                    email: 'sky4tress@gmail.com',
                    password: '66612'
                },
                user: {
                    email: '',
                    name: '',
                    password: ''
                }
            }
        },
        methods: {
            handleSubmit() {
                this.$http.post('/auth', this.login).then(res => {
                    if (res.status === 200) {
                        loginUser(res.data.token, res.data.user, () => {
                            this.$router.push({name: "dashboard"});
                        });
                    }
                });
            }
        }
    }
</script>
<style lang="sass" rel="stylesheet/scss">
    @import url('https://fonts.googleapis.com/css?family=Lato:400,700');

    body {
        padding: 0;
        margin: 0;
        font-family: 'Lato', sans-serif;
    }
</style>
<style lang="sass" rel="stylesheet/scss">

    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('/img/bg.jpeg');
        -webkit-background-size: cover;
        background-size: cover;
    }

    .wrapper {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .form-signin {
        max-width: 380px;
        padding: 15px 35px 25px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        text-align: center;
        h2 {
            text-transform: uppercase;
            text-align: center;
            color: #666;
            font-weight: normal;
        }

        .el-input {
            margin-bottom: 5px;
        }


        .el-tabs__item{
            display: block;
            width: 50%;
        }


        .wide .el-button {
            margin-top: 10px;
            display: block;
            margin-left: 0;
            width: 100%;
        }
        .btn-google {
            text-decoration: none;
            display: block;
            width: 100%;
            background: #dd4b39;
            border-color: #b03e2d;
        }
        .btn-google:hover {
            background: #e24d3a;
            border-color: #c74633;
        }
    }
</style>