<template>
    <div>
        <h1>Create page</h1>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
            }
        },
        mounted : function () {

        },
        methods: {}
    }
</script>

<style lang="sass" rel="stylesheet/scss">

</style>