<template>
    <div class="board">
        <sidebar></sidebar>
        <router-view></router-view>
    </div>
</template>

<script>
    import Sidebar from './sidebar.vue';
    import Item from './item.vue';

    export default {
        data: function () {
            return {
            }
        },
        created: function () {
            this.$socket.on('notification',(data) => {
                this.$notify.info({
                    title: 'Info',
                    message: data.message
                });
            });
        },
        methods: {

        },
        components: {
        // <my-component> will only be available in parent's template
        'sidebar': Sidebar,
        'item' : Item
        }
    }
</script>

<style lang="sass" rel="stylesheet/scss">
    .board{
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('/img/board.jpg');
        -webkit-background-size: cover;
        background-size: cover;
    }
</style>