<template>
    <div class="item photo">
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
            }
        },
        mounted : function () {

        },
        methods: {}
    }
</script>

<style lang="sass" rel="stylesheet/scss">
    .photo {
        display: block;
        position: absolute;
        left: 20%;
        top: 10%;
        width: 300px;
        height: 500px;
        background: url('/img/photo.jpg');
        -webkit-background-size: cover;
        background-size: cover;
        border: 5px solid white;
        -webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.53);
        -moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.53);
        box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.53);
        filter: contrast(120%);
        cursor: pointer;
    }
</style>