<template>
    <div id="sidebar">
        <img alt="Empathy" src="/img/avatar.jpg">
        <div class="name">{{user.fullName}}</div>

        <nav class="site-navigation primary-navigation">
            <div class="nav-menu">
                <ul class="menu-auto">
                    <li class="current_page_item"><router-link to="/dashboard/create"><i class="fa fa-plus-circle" aria-hidden="true"></i>Create</router-link></li>
                    <li class="current_page_item"><router-link to="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</router-link></li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
    import {getHeaders, getUser} from '../security';
    export default {
        data: function () {
            return {
                user: {},
            }
        },
        mounted : function () {
            this.$http.get('/users/' + getUser().id, {headers: getHeaders()}).then(response => {
                this.user = response.data;
            });
        },
        methods: {}
    }
</script>

<style lang="sass" rel="stylesheet/scss" scoped>
    #sidebar {
        position: fixed;
        width: 120px;
        top: 0;
        bottom: 0;
        overflow: auto;
        background: #1c262b;
    }

    img {
        width: 100%;
        vertical-align: middle;
    }
    .name{
        background: #2ba163;
        display: block;
        position: static;
        width: auto;
        line-height: 1.2;
        text-align: center;
        padding: .8em;
        font-size: 12px;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
    }

    .nav-menu ul {
        padding: 0; margin: 0; list-style: none; text-align: center; overflow: auto;
    }
    .nav-menu ul li {
        font-size: 10px; letter-spacing: .07em; text-transform: uppercase; border-bottom: 1px solid rgba(225, 246, 255, 0.07);
    }
    .nav-menu ul i {
        display: block; margin-bottom: .2em;
    }
    .nav-menu ul i:before {
        display:inline-block; font-size: 2.8em; line-height: 1;
    }
    .nav-menu a {
        text-decoration: none;
        display: block; padding: 2em 1em; color: rgba(225, 246, 255, 0.45);
    }
    .nav-menu a:hover {
        color: rgba(225, 246, 255, 0.7);
    }
    .nav-menu .current_page_item a {
        color: #fff;
    }

</style>